configuration {
    show-icons: true;
    font: "Caskaydia Mono Nerd Font Bold 12";
    icon-theme: "Papirus-Dark";

    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 drun:";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";

    dpi: 96;
}

@theme "seoul256"
